
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm(new AjaxOptions {
    OnBegin="$('#str').val('2')"
}))
{
    <input name="str" id="str" />
    <input type="submit" />
}

@Ajax.ActionLink("go", "AjaxLoad","test",new{},new AjaxOptions{
    UpdateTargetId="a,#b"
})
<div id="a"></div>
<div id="b"></div>

@Ajax.RenderAction("AjaxLoad", "Test", new {id=1 }, new AjaxOptions { }, new {@class="test" })
<div id="loading" style="display:none">...</div>
@section scripts{
    <script>
        function beginPost() {
            $("#str").val("2");
        }
    </script>
}